<% @products.each do |product| %>
	<div class="span4">
		<%= link_to product_path(product) do %>
			<%= image_tag product.image(:medium) %>
		<% end %>
		<h2><%= link_to product.title, product_path(product) %></h2>

		<p><%= product.price_in_pence %></p>

		<% if basket.include? (product.id) %>

		<%= link_to product_basket_path(product), method: :delete, class: "btn btn-danger btn-large" do %>
		<i class="icon icon-white icon-remove"></i> Remove from basket
		<% end %>

		<% else %>

		<%= link_to product_basket_path(product), method: :post, class: "btn btn-primary btn-large" do %>
		<i class="icon icon-white icon-shopping-cart"></i> Buy Now
		<% end %>

		<% end %>

	</div>

<% end %>