<div class="span6">
	<%= image_tag @product.image(:medium) %>
</div>

<div class="span6">
	<h1><%= @product.title %></h1>

	<%= simple_format @product.description %>

<div class="price">
	<% if @product.previous_price_in_pence %>
		<del><%= quid @product.previous_price_in_pence %></del>
	<% end %>

	<%= quid @product.price_in_pence %>

</div>

	<p>
		<% if basket.include? (@product.id) %>

		<%= link_to product_basket_path(@product), method: :delete, class: "btn btn-danger btn-large" do %>
		<i class="icon icon-white icon-remove"></i> Remove from Basket
		<% end %>

		<% else %>

		<%= link_to product_basket_path(@product), method: :post, class: "btn btn-primary btn-large" do %>
		<i class="icon icon-white icon-shopping-cart"></i> Add to Basket
		<% end %>

		<% end %>



		
	</p>	